<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flow_planet_layout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FLOW_PLANET_LAYOUT">
        <activity
            android:name=".LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".Reward_Activity"
            android:exported="false" />
        <activity
            android:name=".Exprore_EndActivity"
            android:exported="false" />
        <activity
            android:name=".StudianActivity"
            android:exported="false" />
        <activity
            android:name=".ExproreActivity"
            android:exported="false" />
        <activity
            android:name=".Space_Station_Activity"
            android:exported="false" />
        <activity
            android:name=".Statistics_Day_Activity"
            android:exported="false" />
        <activity
            android:name=".Statistics_Month_Activity"
            android:exported="false" />
        <activity
            android:name=".Statistics_Week_Activity"
            android:exported="false" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity_"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>